<!DOCTYPE html>
<html>
<head>
	<title>Auth App</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<% if(user){ %>
		<a href="/profile">Profile</a>
		<% if(user.role==='admin'){ %>
			<a href="/admin">Admin</a>
		<% } %>
		<a href="/logout">Logout</a>
	<% }else{ %>
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	<% } %>
</nav>
<hr>